In [1]:
from pycaret.datasets import get_data

In [2]:
data1 = get_data(dataset="traffic")

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,Rush Hour,traffic_volume
0,None,288.28,0.0,0.0,40,Clouds,1,5545
1,None,289.36,0.0,0.0,75,Clouds,0,4516
2,None,289.58,0.0,0.0,90,Clouds,0,4767
3,None,290.13,0.0,0.0,90,Clouds,0,5026
4,None,291.14,0.0,0.0,75,Clouds,0,4918

In [3]:
from pycaret.regression import *

In [4]:
dataset = setup(data=data1, target="traffic_volume",session_id=438,imputation_type='simple')

In [5]:
best = compare_models(include=['lr', 'lasso', 'ridge','en','lar'	,'llar'	,'omp'
                               ,'br'	,'ard'	,'par'])

In [6]:
tuned_best = tune_model(estimator = best)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [8]:
# models()

In [9]:
final_model = finalize_model(estimator=tuned_best)

In [11]:
save_model(model = final_model,model_name="./rf_base_traffic")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=/tmp/joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['temp', 'rain_1h', 'snow_1h',
                                              'clouds_all', 'Rush Hour'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['holiday', 'weather_main'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('onehot_encoding',
                  TransformerWrapper(include=['holiday', 'weather_main'],
                                     transformer=OneHotEncoder(cols=['holiday',
                                                                     'weather_main'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('actual_estimator',
                  OrthogonalMatchingPursuit(n_nonzero_coefs=4))]),
 './rf_base_traffic.pkl')

In [13]:
saved_model = load_model("./rf_base_traffic")

Transformation Pipeline and Model Successfully Loaded

In [17]:
predictions = predict_model(saved_model,data=data1)
predictions.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,Rush Hour,traffic_volume,prediction_label
0,None,288.279999,0.0,0.0,40,Clouds,1,5545,4820.682775
1,None,289.359985,0.0,0.0,75,Clouds,0,4516,3380.134558
2,None,289.579987,0.0,0.0,90,Clouds,0,4767,3414.306985
3,None,290.130005,0.0,0.0,90,Clouds,0,5026,3424.921696
4,None,291.140015,0.0,0.0,75,Clouds,0,4918,3414.487047