In [1]:
from pycaret.regression import *

In [2]:
from pycaret.datasets import get_data

In [3]:
dataset = get_data('diamond')

   Carat Weight    Cut Color Clarity Polish Symmetry Report  Price
0          1.10  Ideal     H     SI1     VG       EX    GIA   5169
1          0.83  Ideal     H     VS1     ID       ID   AGSL   3470
2          0.85  Ideal     H     SI1     EX       EX    GIA   3183
3          0.91  Ideal     E     SI1     VG       VG    GIA   4370
4          0.83  Ideal     G     SI1     EX       EX    GIA   3171

In [4]:
# dataset = get_data('diamond',profile=True)

In [5]:
data = dataset.sample(frac=0.9,random_state=786)
data_unseen = dataset.drop(data.index)

data.reset_index(drop=True,inplace=True)
data_unseen.reset_index(drop=True,inplace=True)

print('Data for Modeling: ' + str(data.shape))
print('Unseen Data For Predictions ',str(data_unseen.shape))

Data for Modeling: (5400, 8)
Unseen Data For Predictions  (600, 8)

In [6]:
exp_reg102 = setup(data=data, target="Price",
	session_id=123,
	normalize=True,
	transformation=True,
	transform_target=True,
	# combine_rare_levels=True,
	# rare_level_threshold=0.05,
	remove_multicollinearity=True,
	multicollinearity_threshold=0.95,
	bin_numeric_features=['Carat Weight'],
	log_experiment=True, experiment_name='diamond1',)
	# silent=True)

2023/08/31 16:18:22 INFO mlflow.tracking.fluent: Experiment with name 'diamond1' does not exist. Creating a new experiment.